!!!Strict UTF-8
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title
      = page_title
    %link{:rel=>"stylesheet", :href=>"/stylesheets/compiled/screen.css", :media=>"screen", :type=>"text/css"}
    %link{:rel=>"stylesheet", :href=>"/stylesheets/compiled/print.css", :media=>"print", :type=>"text/css"}
    <!--[if IE]>
    %link{:rel=>"stylesheet", :href=>"/stylesheets/compiled/ie.css", :media=>"screen, projection", :type=>"text/css"}
    <![endif]-->

  %body.three-col.bp
    #container
      #header
        = link_to image_tag(header_image), root_url
        
        - if !current_user
          = link_to "Register", new_account_path
          = link_to "Log In", new_user_session_path
        - else
          = link_to "My Account", account_path
          = link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?"

      = yield
      
      #footer
        Copyright &copy;
        = Time.now.year
        Brave New Media